/* font-family: 'Poppins', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  margin: 0px;
  padding: 0px;
}
.topbar {
  margin-top: 20px;
}

.nav-link {
  color: #000;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-right: 10px;
}
.nav-link:hover {
  color: #f51e46;
}
.buttons {
  text-align: end;
}
.choose-plan-btn,
.amazing-design-btn,
.banner-btn,
.button {
  border-radius: 100px;
  padding: 10px 25px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: none;
  color: #fff;
  margin-top: 15px;
}
.buttons :first-child {
  background-color: #f51e46;
}
.choose-plan-btn,
.amazing-design-btn,
.buttons :last-child {
  background-color: #2f003b;
}
.banner {
  padding: 130px 0px;
}
.banner-title {
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 100px;
}
.banner-title b {
  font-size: 70px;
  font-weight: 700;
}
.banner-title span {
  color: #f51e46;
}
.banner p {
  font-family: 'Arimo', sans-serif;
  font-size: 28px;
  color: #666666;
}
.banner-btn {
  padding: 15px 35px;
  margin-top: 20px;
  background-color: #2f003b;
}
.fa-long-arrow-alt-right {
  margin-left: 10px;
}
.awards,
.projects,
.clients,
.apps {
  background-color: #fd635e;
  padding: 50px;
  position: relative;
}
.projects h5,
.awards h5,
.clients h5,
.apps h5 {
  margin: 0px;
  color: #fff;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.projects h1,
.awards h1,
.clients h1,
.apps h1 {
  margin: 0px;
  font-size: 50px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0px;
}
.clients {
  background-color: #2f003b;
}
.awards {
  background-color: #ffbe4d;
}
.projects {
  background-color: #1e1f20;
}
.project-images {
  position: absolute;
  right: -35px;
  bottom: -50px;
  width: 120px;
}
.dream-big-section {
  padding: 100px 0px;
  position: relative;
}
.background-image {
  position: absolute;
  bottom: -1250px;
}
.recent-projects .sub-heading,
.creative,
.sub-heading {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #808080;
  margin: 0px;
}
.pricing-title h1,
.recent-projects .icecream-mockup,
.recent-projects h1,
.amazing-design h1,
.text-section h1 {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  color: #333333;
}
.text-section span {
  color: #f51e46;
}
.amazing-design p,
.text-section p {
  font-size: 18px;
  font-family: 'Arimo', sans-serif;
  color: #808080;
  margin-top: 20px;
  margin-bottom: 50px;
}

.product-img {
  position: relative;
}
.marketing-text {
  color: #fff;
  position: absolute;
  top: 0px;
  display: none;
}
.marketing-text {
  padding: 48px 25px;
}
.marketing-text h5 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.marketing-text p {
  font-size: 13px;
  font-family: 'Arimo', sans-serif;
  line-height: 20px;
  margin: 20px 0px 35px 0px;
}
.marketing-text button {
  background-color: transparent;
  color: #fff;
  border: 0px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  padding: 0px;
}
.marketing-text .fa-angle-right {
  margin-left: 10px;
  font-size: 1em;
}

.my-products:hover .marketing-text {
  background-color: #2f003b;
}
.my-products:hover .marketing-text {
  display: block;
}
.amazing-design {
  background-color: #fbfbfb;
  padding: 0px 0px 50px 0px;
}
.amazing-design-text {
  margin-left: 50px;
}
.amazing-design .sub-heading {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 400;
}
.amazing-design h1 {
  margin: 10px 0px;
}
.amazing-design p {
  margin-bottom: 20px;
}
.amazing-design-btn {
  margin-top: 0px;
}
.amazing-design-btn a {
  color: #fff;
}
.amazing-design-btn:hover a {
  color: #fff;
  text-decoration: none;
}
.recent-projects {
  padding: 100px 0px;
}
.price-title,
.recent-projects h1 {
  font-weight: 700;
  margin-bottom: 50px;
}
.recent-projects .creative {
  font-size: 16px;
  font-weight: 400;
  color: #f63a59;
}
.recent-projects .icecream-mockup {
  font-size: 36px;
  margin-bottom: 10px;
}
.unique-brand .create-by,
.recent-projects .create-by {
  font-size: 22px;
  color: #000;
}
.unique-brand {
  background-color: #dcdadb;
  margin: 50px 0px;
}
.photography-img {
  margin-bottom: 30px;
}
.photography .icecream-mockup {
  margin-bottom: 30px;
}
.team-section {
  background: rgb(247, 247, 247);
  background: linear-gradient(
    90deg,
    rgba(247, 247, 247, 1) 50%,
    rgba(232, 232, 232, 1) 50%
  );
  position: relative;
}
.first-member {
  padding: 200px 0px;
}
.member-image-2,
.member-image {
  position: absolute;
  bottom: -0px;
  right: 0px;
}
.member-image-2 {
  left: 0px;
}

.team-title-heading {
  position: absolute;
  right: 37%;
  top: 60px;
}
.team-section .sub-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #8a8a8a;
  font-size: 18px;
}
.team-title {
  font-size: 110px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #333333;
}
.team-section .amazing-design-btn {
  padding: 20px 40px;
}

.member-information-2 {
  text-align: end;
}
.member-information-2 .work,
.member-information .work {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fd635e;
}
.member-information-2 .name,
.member-information .name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #333333;
}
.member-information-2 .contact-number,
.member-information .contact-number {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: #444444;
}
.member-icon {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-icon a {
  color: #000;
}
.member-icon:hover a {
  color: #fd635e;
}
.member-image {
  margin-right: 50px;
}
.member-image-2 {
  margin-left: 70px;
}
.pricing-plan {
  padding: 100px 0px;
  background: rgb(252, 85, 81);
  background: linear-gradient(
    0deg,
    rgba(252, 85, 81, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}
.plan {
  background-color: #fff;
  padding: 50px;
  -webkit-box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.04);
}
.plan h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 15px;
}
.price sup {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #fd635e;
  font-size: 40px;
}
.price p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 80px;
  margin: 0px;
  line-height: 80px;
}
.plan .lorem {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  color: #666666;
  margin: 30px 0px;
}
.plan .pkg-days {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  margin: 0px;
}
.packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.packages ul li {
  list-style: none;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  margin: 15px 0px;
}
.packages ul li::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 15px 0px;
  border-bottom: 1px dashed #bbbbbb;
}
.packages ul :last-child::after {
  content: none;
}
.packages .fa-check {
  margin-right: 10px;
  font-size: 0.7em;
  color: #f51e46;
}
.choose-plan-btn {
  margin: 0px;
}
.pricing-title h1 {
  margin-bottom: 50px;
}
.brands {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.why-cchoose-us {
  padding: 100px 0px;
}
.financial-analysis-1 {
  margin-bottom: 30px;
}
.financial-analysis-1,
.financial-analysis {
  padding: 50px 0px;
  border: 2px dashed #d2d2d2;
  -webkit-box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.02);
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.02);
}
.financial-analysis-1 h1,
.financial-analysis h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin: 15px 0px;
}
.financial-analysis-1 p,
.financial-analysis p {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  color: #666666;
  margin: 0px;
}
.recent-updates {
  background-color: #fd635e;
  padding: 100px 0px;
}
.blog-section .blogs-link,
.recent-projects .portfolio,
.recent-updates .post {
  list-style: none;
  text-decoration: none;
}
.recent-updates .sub-heading,
.recent-updates h1 {
  color: #fff;
}

.posted-image {
  padding: 100px 0px;
  background-color: #2f003b;
}
.posted-text {
  padding: 35px;
  background-color: #fff;
}
.posted p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.posted .date {
  font-size: 18px;
  color: #444444;
}
.posted p span {
  color: #fd635e;
}
.posted h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
}

.circle-image {
  background-color: #fff;
  border-radius: 100px;
  padding: 7px;
  position: absolute;
  right: 60px;
  bottom: -20px;
}
#footer {
  padding: 100px 0px 0px 0px;
  background-color: #0d0d0d;
}
#footer h5 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}
#footer ul {
  list-style: none;
  padding: 0px;
}
#footer ul li {
  margin-bottom: 15px;
}
#footer .recent-post ul li a {
  font-size: 16px;
}
#footer .recent-post ul li a:hover {
  color: #f51e46;
}
#footer ul li a {
  color: #ababab;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
}
#footer p {
  font-family: 'Arimo', sans-serif;
  color: #ababab;
  font-size: 16px;
  margin-bottom: 15px;
}

#footer ul .fa-angle-double-right {
  margin-right: 8px;
  font-size: 0.8em;
}
#footer input {
  width: 100%;
  border-radius: 5px;
  border: 0px;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #a2a2a2;
  padding: 10px 0px;
  text-align: center;
}
#footer .btn {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #f51e46;
  width: 100%;
  border-radius: 5px;
  padding: 8px 0px;
  margin-top: 5px;
}
#footer-bottom {
  margin-top: 100px;
  padding: 30px 0px;
  background-color: #191919;
}
#footer-bottom .copyright {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  margin: 0px;
}
#footer-bottom p span {
  color: #f51e46;
  font-weight: 500;
}
#footer-bottom ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
#footer-bottom ul li {
  margin: 0px;
}
#footer-bottom ul li a {
  color: #fff;
}
#footer-bottom ul li a:hover {
  color: #f51e46;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .banner-btn,
  .buttons > .button {
    font-size: 6px;
    padding: 5px 10px;
  }
  .banner {
    padding: 40px 0px;
  }
  .banner-title {
    font-size: 35px;
    line-height: 40px;
  }
  .banner-title b {
    font-size: 25px;
  }
  .banner p {
    font-size: 10px;
  }
  .banner-btn {
    margin-top: 0px;
  }
  .awards,
  .projects,
  .clients,
  .apps {
    padding: 20px 25px;
  }
  .projects h5,
  .awards h5,
  .clients h5,
  .apps h5 {
    font-size: 7px;
  }

  .projects h1,
  .awards h1,
  .clients h1,
  .apps h1 {
    font-size: 18px;
  }
  .project-images {
    width: 40px;
    position: absolute;
    right: -10px;
    bottom: -20px;
  }

  .recent-updates,
  .why-cchoose-us,
  .pricing-plan,
  .amazing-design,
  .recent-projects,
  .dream-big-section {
    padding: 30px 0px;
  }
  .recent-projects .sub-heading,
  .creative,
  .sub-heading {
    font-size: 7px;
  }
  .pricing-title h1,
  .recent-projects h1,
  .amazing-design h1,
  .text-section h1 {
    font-size: 16px;
  }
  .amazing-design p,
  .text-section p {
    font-size: 7px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .product-img {
    position: none;
  }
  .marketing-text {
    padding: 23px;
  }
  .my-products {
    margin-bottom: 15px;
  }
  .marketing-text h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .marketing-text p {
    font-size: 8px;
    line-height: 16px;
    margin: 20px 0px;
  }
  .marketing-text button {
    font-size: 10px;
    margin-bottom: 0px;
  }
  .marketing-text .fa-angle-right {
    margin-left: 5px;
    font-size: 1em;
  }
  .amazing-design-img {
    width: 450px;
  }
  .amazing-design-text {
    text-align: center;
    margin: 0px;
  }
  .amazing-design-text .sub-heading {
    margin-top: 50px;
    font-size: 10px;
  }
  .amazing-design-text h1 {
    font-size: 22px;
  }
  .amazing-design-text p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .amazing-design-btn {
    font-size: 8px;
    padding: 5px 15px;
  }
  .project-inform .creative,
  .brand-text .creative,
  .photography .creative {
    font-size: 6px;
  }
  .recent-projects h1 {
    margin-bottom: 30px;
  }
  .Mockup-img {
    width: 245px;
  }
  .recent-projects .icecream-mockup {
    font-size: 11px;
    margin: 10px 0px;
  }
  .recent-projects .create-by,
  .brand-text .create-by {
    font-size: 8px;
    margin: 0px;
  }
  .unique-brand {
    margin: 20px 0px;
  }
  .brand-img {
    width: 220px;
  }
  .brand-text {
    margin: 0px;
  }
  .photography-img {
    margin-bottom: 15px;
  }
  .photography .icecream-mockup {
    font-size: 12px;
  }
  .photography .sub-heading {
    font-size: 6px;
  }
  .photography-image {
    width: 108px;
  }
  .first-member {
    padding: 50px 0px;
  }
  .member-img {
    width: 110px;
  }
  .team-title {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .team-title-heading .amazing-design-btn {
    font-size: 5px;
    padding: 5px 8px;
  }
  .choose-plan-btn .fa-long-arrow-alt-right,
  .team-title-heading .amazing-design-btn .fa-long-arrow-alt-right {
    margin-left: 5px;
  }
  .team-title-heading .sub-heading {
    font-size: 5px;
  }
  .team-title-heading {
    right: 39%;
    top: 15px;
  }
  .member-information .work,
  .member-information-2 .work {
    font-size: 7px;
    margin-bottom: 5px;
  }
  .member-information .name,
  .member-information-2 .name {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .member-information .contact-number,
  .member-information-2 .contact-number {
    font-size: 7px;
    margin-bottom: 5px;
  }
  .member-icon {
    height: 15px;
    width: 15px;
    font-size: 0.3em;
  }
  .member-image {
    margin-right: 10px;
  }
  .member-image-2 {
    margin-left: 10px;
  }
  .plan {
    padding: 30px;
    margin-bottom: 30px;
  }
  .plan h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .price sup {
    font-size: 36px;
  }
  .price p {
    font-size: 60px;
    line-height: 40px;
  }
  .plan .lorem {
    font-size: 20px;
    margin: 20px 0px;
  }
  .plan .pkg-days p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .packages ul {
    padding: 0px;
    margin-bottom: 10px;
  }
  .packages ul li {
    font-size: 14px;
    margin: 15px 0px;
  }
  .packages ul li::after {
    margin: 15px 0px;
  }
  .packages .fa-check {
    margin-right: 20px;
    font-size: 1em;
  }
  .choose-plan-btn {
    padding: 10px 30px;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
  }
  .choose-plan-btn .fa-long-arrow-alt-right {
    margin-left: 15px;
  }
  .logos {
    width: 50px;
  }
  .brands {
    margin: 20px 0px 0px 0px;
  }
  .financial-analysis,
  .financial-analysis-1 {
    padding: 20px 0px;
  }
  .financial-analysis h1,
  .financial-analysis-1 h1 {
    font-size: 14px;
    margin: 10px 0px;
  }
  .financial-analysis p,
  .financial-analysis-1 p {
    font-size: 9px;
  }
  .posted-image {
    padding: 50px 0px;
  }
  .posted {
    margin-bottom: 50px;
  }
  .pricing-title h1 {
    margin-bottom: 30px;
  }
  .circle-image {
    right: 50px;
    bottom: 20px;
  }
  #footer {
    padding: 50px 0px 0px 0px;
  }
  .footer-img {
    width: 100px;
    margin-bottom: 30px;
  }
  /* .archieves,
  .newsletter {
    display: grid;
    flex-wrap: nowrap;
    justify-content: center;
  } */
  #footer h5 {
    font-size: 9px;
    margin-bottom: 10px;
  }
  #footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  #footer ul li {
    margin-bottom: 0px;
    padding: 0px;
  }
  #footer .recent-post ul li a,
  #footer ul li a {
    font-size: 7px;
  }
  #footer p {
    font-size: 7px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #footer ul .fa-angle-double-right {
    margin-right: 5px;
    font-size: 0.8em;
  }
  #footer input {
    font-size: 8px;
    padding: 6px 0px;
  }
  #footer .btn {
    font-size: 8px;
    padding: 6px 0px;
    margin-top: 5px;
  }
  #footer-bottom {
    margin-top: 50px;
    padding: 15px 0px;
  }
  #footer-bottom .copyright {
    font-size: 7px;
    margin: 0px;
  }
  #footer-bottom ul {
    font-size: 8px;
  }
  #footer-bottom ul li {
    margin: 0px;
  }
  #footer-bottom ul li a {
    color: #fff;
  }
  #footer-bottom ul li a:hover {
    color: #f51e46;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
} /* Only Tablet */

@media only screen and (min-width: 1200px) {
} /* Only Destop */

@media only screen and (min-width: 1600px) {
} /* Only Large Screen */
